#container {
    box-sizing: border-box;   
    height: 300px;
    width: 500px;
    background: url("./five-star-off.png") 0 0;
    background-size: 500px auto;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;
}

#container div{   
    box-sizing: inherit;   
    height: 300px;
    width: 100px;
}



