.wrapper {
    position: relative
    top: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  100px;
}

.letter{    
    position: absolute;
}

.letter:hover {
    font-size: 500px;
}