a {     
    background-color: lightcyan;
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em; 
 }

#four:target{
    background: url("./five-star-on.png");
    background-size: 500px auto;
    background-position: -300px 0;
}

#four:target ~ #five{
    background: url("./five-star-on.png");
    background-size: 500px auto;
    background-position: -400px 0;
}

#five-a:target{
    background: url("./five-star-on.png");
    background-size: 500px auto;
    background-position: -400px 0;
}
