* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


.items {
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 75px;
}

.item {
    margin: auto;
    background-color: lightgrey;
    width: 80px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    background-color: lightgreen;
    position: relative
}

#select-display {
    position: absolute;
    left: -9999px;
}

.modes {
    background-color: lightseagreen;
    position: absolute;
    left: 17px;
    top: 65px;
    display: none;
}

#select-display:active ~ disp {
    background-color: aqua;
}

/* .modes {
    background-color: lightseagreen;
    position: absolute;
    left: 17px;
    top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    width: 80px; 
} */

.mode {  
    margin: 5px;
    background-color: lightgrey;
    width: px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    list-style: none;
}
