* {
    box-sizing: border-box;
}

#container {
    background-color: lightblue;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(5,fr);
    grid-template-rows: repeat();
}