.menu {
    background-color: lightblue;
}

.items {
    margin:10px;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.display {
    background-color: lightgreen;
    margin: 10px;
    position: relative
}

.modes {
    position: absolute;
    left: 50px;
    top: 100px;
}

li {
    width: 10vw;
    h
    border: 1px solid black;
    margin: auto;
    list-style: none;
}