* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}


.menu {
    background-color: lightblue;
}

.items {
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 75px;
}

.item {
    margin: auto;
    background-color: lightgrey;
    width: 80px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    list-style: none;
    display: flex;
}

.display {
    background-color: lightgreen;
    position: relative
}

.modes {
    background-color: lightseagreen;
    position: absolute;
    left: 17px;
    top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    width: 80px; 
}

.mode {
    margin: 5px;
    background-color: lightgrey;
    width: px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    list-style: none;
}
