* {
    box-sizing: border-box;
    border:0;
    padding: 0;
    margin:0;
}
#container {
    background-color: blue;
    height: 300px;
    width: 500px;
    
    /* background: url("./five-star-off.png") 0 0; */
    background-size: 300px 300px;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: row;
    align-items: stretch;
}

#container div{   
    /* background-color: lightgreen; */
    height: 300px;
    width: 100px;
}



