
/* permanent effect */

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.chbx-aux {
    position:absolute;
    height: 100px;
    width: 100px;
    top: 100px;
    padding: 0;
    border: 0;
}

#label1 {
    left: 10px;
    background-color: lightblue;
}


#toggle1:checked ~ #label2 {
    background-color: coral;
}

#toggle1:checked ~ #label3 {
    background-color: cyan;
}

#toggle1:checked ~ #label4 {
    background-color: yellow;
}

#toggle1:checked ~ #label5 {
    background-color: green;
}

#label2 {
    left: 110px;
    background-color: lightcoral;
}

#toggle2:checked ~ #label2 {
    background-color: coral;
}

#toggle2:checked ~ #label3 {
    background-color: cyan;
}

#toggle2:checked ~ #label4 {
    background-color: yellow;
}

#toggle2:checked ~ #label5 {
    background-color: green;
}

#label3 {
    left: 210px;
    background-color: lightcyan;
}

#toggle3:checked ~ #label3 {
    background-color: cyan;
}

#toggle3:checked ~ #label4 {
    background-color: yellow;
}

#toggle3:checked ~ #label5 {
    background-color: green;
}

#label4 {
    left: 310px;
    background-color: lightgoldenrodyellow;
}

#toggle4:checked ~ #label4 {
    background-color: yellow;
}

#toggle4:checked ~ #label5 {
    background-color: green;
}

#label5 {
    left: 410px;
    background-color: lightgreen;
}

#toggle5:checked ~ #label5{
    background-color: green;
}