* {
    box-sizing: border-box;
    border: 0px solid;
    padding: 0;
    margin:0;
}

html {    
    --off: url("./five-star-off.png");
    --on: url("./five-star-on.png");
}

#container {
    height: 300px;
    width: 500px;        
    background: cyan 0 0;
    background-size: 500px 300px;
    display: flex;
    flex-direction: row;
}

/* permanent effect */

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.chbx-aux {
    background-color: salmon;
    height: 300px;
    width: 100px;
}

#label1 {
    background: var(--off);    
    background-size: 500px 300px;
    background-position: 0px 0px;
}

#label1:hover, #toggle1:checked ~ #label1, 
#label2:hover ~ #label, #toggle2:checked ~ #label1, 
{
    background: var(--on);    
    background-size: 500px 300px;
    background-position: 0px 0px;
}

#label2 {
    background: var(--off);    
    background-size: 500px 300px;
    background-position: 100px 0px;
}

#label2:hover, #toggle2:checked ~ #label2 {
    background: var(--on);    
    background-size: 500px 300px;
    background-position: -100px 0px;
}

#label3 {
    background: var(--off);    
    background-size: 500px 300px;
    background-position: 200px 0px;
}

#label3:hover, #toggle3:checked ~ #label3 {
    background: var(--on);    
    background-size: 500px 300px;
    background-position: -200px 0px;
}

#label4 {
    background: var(--off);    
    background-size: 500px 300px;
    background-position: 300px 0px;
}

#label4:hover, #toggle4:checked ~ #label4 {
    background: var(--on);    
    background-size: 500px 300px;
    background-position: -300px 0px;
}

#label5 {
    background: var(--off);    
    background-size: 500px 300px;
    background-position: 400px 0px;
}

#label5:hover, #toggle5:checked ~ #label5 {
    background: var(--on);    
    background-size: 500px 300px;
    background-position: -200px 0px;
}





