* {
    box-sizing: border-box;
    border: 0px solid;
    padding: 0;
    margin:0;
}

#container {
    box-sizing: border-box;
    position: relative;
    height: 300px;
    width: 500px;        
    background: url("./five-star-off.png") 0 0;
    background-size: contain;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
}

/* permanent effect */
.visually-hidden {
    position: absolute;
    left: -100vw;
}

.chbx-aux {
    background-color: salmon;
    height: 300px;
    width: 100px;
    border
}

#label1 {
    background: url("./five-star-on.png");    
    background-size: 500px auto;
}

#label2 {
    background: url("./five-star-on.png");    
    background-size: 500px 300px;
    background-position: 100px;
}





