* {
    box-sizing: border-box;
    padding: 0px;
}

#template1 {
    background-color: lightgoldenrodyellow;
}

.row {
    background-color: lightcoral;
    height: 200px;
    overflow: hidden;
    margin:5px;
}

.pic  {
    background-color: lightblue; 
    height: 200px;
    margin: 5px;
}

.snippet {
    background-color: lightcyan;    
    hei: 200px;
    padding: 5px;
    margin: 5px;
}

