* {
    box-sizing: border-box;
    padding: 0px;
}

.row {
    background-color: lightcoral;
    display: grid;
    height: 200px;
    overflow: hidden;
    grid-template-columns: 1fr 2fr;
}

.snippet {
    background-color: light;
}

.pic  {
    background-color: lightblue;
    height: 200px;
    width: auto;
}