.wrapper {
    position: relative;
    left: 10vw;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* align-items: center;     */
    /* font-size:  100px; */
}

.letter{    
    position: absolute;    
    font-size: 100px;
    top: 20vh;
}

.letter:hover {
    position: absolute;
    font-size: 300px;
    top: 5vh;
}

#l1, #l1:hover {
    left: 5vw;
}

#l2, #l2:hover {
    left: 20vw;
}

#l3, #l3:hover {
    left: 30vw;
}

#l4, #l4:hover {
    left: 40vw;
}

#l5, #l5:hover {
    left: 50vw;
}