* {   
    box-sizing: border-box; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

header {

}

.container {
    display: flex;
    flex-direction: row;
    border-color: blueviolet;
}

.content {    
    width: 40%;
    background-color: greenyellow;
}

.side {
    width: 20%;
    background-color: orangered;
}

footer {
    width: 100%;
}


