* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: lightgray;
}

header {
    border: 2px;
    border-style: solid;
    border-color: blue;
    border-bottom: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {    
    width: 40%;
    background-color: greenyellow;
    border: 2px;
    
}

.side {
    width: 20%;
    background-color: orangered;
}

footer {
    width: 100%;
}


