*,*::after,*::before{
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: ;
    border: 100px;
    border-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    border: 100px;
    border-color: black;
}

nav {
    background-color: aqua;
}

.content {
    height: 200px;
    width: 100%;
    border: 100px;
    border-color: black;
}