* {   
    box-sizing: border-box; 
    border: .5px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {

}

.container {
    display: flex;
    flex-direction: row;
    background-color: bisque;
}

.content {    
    width: 40%;
    background-color: greenyellow;
}

.side {
    width: 20%;
    background-color: orangered;
}

footer {
    width: 100%;
}


