* {
    box-sizing: border-box;
}

#wrapper {
    height: 100px;
    width: 100px;
    background-color: lightblue;    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1;
}