#carousel {
    position: absolute;
    width: 500px;
    height: 300px;
    margin: 0;
    overflow: hidden;
}

#carousel li{
    display: inline-block;
    height: 300px;
    float
}

#carousel ul {
    position: absolute;
    left: 0;    
    top: -15px; 
    width: 500px;   
    transition: left .3s linear;
    animation: animate 15s infinite;
}

.photos {
    position: absolute;
    width: 500px;
    height: 300px;
}

.photos img{ 
    width: 500px;
    height: 300px;
}

