header {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

.select-position {
    width: ;
}

.menu  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item {
    padding: 10%;
}
