* {
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    --reorientation: column;
    --wrapper-width: 50%;
}

#wrapper {
    position: relative;    
    width: var(--wrapper-width);
    background-color: lightgray;
    display: flex;
    flex-direction: var(--reorientation);    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#select{
    margin: 10px;
    background-color: greenyellow;
}

#menu  {    
    width: 50%;
    margin: 10px;
    background-color: red;
    display: flex;
    flex-direction: var(--reorientation);
    justify-content: space-evenly;
    align-items: center;
}

.item {
    margin: 1px;
    padding: 2px;
    border: 3px solid #73AD21;
    text-align: center;
    background-color: blue;    
    color: wheat    
}

