* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
}

.center {
    height: 100px;
    background-color: lightblue;
}

.text {
    margin: auto;
    text-align: center;
}