* {
    box-sizing: border-box;
}
.container {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    position: relative;
    overflow: hidden;
}

.center {
    background-color: lightblue;
    padding: auto;

}

.text {
    text-align: center;
    position: relative;
    top: 50%;
}