.div {
    position: relative;
}

#carousel ul {
    position: absolute;
    left: 0;    
    top: -15px; 
    width: 500px;   
    transition: ;

.photos {
    position: absolute;
    width: 500px;
    height: 300px;
}