* {   
    box-sizing: border-box; 
    border: 1px;
    border-color: black;
    border-style: solid;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

header {

}

.container {
    display: flex;
    flex-direction: row;
}

.content {    
    width: 50%;
}

side {
    width: 20%;
}

footer {
    width: 100%;
    height: 200px;
}


