#container {
    position: relative;
}

#container li{
    /*list-style: none;*/
    margin: ;
    position: absolute;
    display: block;
}

.off {
    width: 100%;
    position: absolute;
}

.on {
    width: 100%;
    position:absolute;
}