.div {
    position: relative;
}

#carousel ul {
    position: absolute;
    left: 0;    
    top: -15px; 
    width: 500px;   
    transition: left .3s linear;
    animation: animate 15s infinite;
}

.photos {
    position: absolute;
    width: 500px;
    height: 300px;
}

.photos img{ 
    width: 500px;
    height: 300px;
}

@keyframes animate{
    33%{
        left: -500px
    }
    {
        left: -500px
    }
    33%{
        left: -500px
    }
}
}
}