*{
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
}
#carousel {
    overflow: hidden;
}

#carousel ul {
    position: relative;
    list-style: none;
    transition: 1s linear;
    animation: animate 5s infinite;
    display: flex;
    flex-direction: row;
}

@keyframes animate {
    
    0% {
        right: 0px;
    }
    33% {
        right: 500px;
    }
    66% {
        right: 1000px;
    }
    100% {
        right: -1000px;
    }
}

