* {
    box-sizing: border-box;
    padding: 0px;
}

#template1 {
    background-color: light-;
}

.row {
    background-color: lightcoral;
    display: grid;
    height: 200px;
    overflow: hidden;
    grid-template-columns: 1fr 2fr;
}

.snippet {
    background-color: lightcyan;
    padding: 2px;
    margin: 10px;
}

.pic  {
    background-color: lightblue;
    height: 200px;
    width: auto;
}