* {
    box-sizing: border-box;
    padding: 0px;
}

#template1 {
    background-color: lightgoldenrodyellow;
}

.row {
    background-color: lightcoral;
    height: 250px;
    overflow: hidden;
    margin:5px;
}

.pic  {
    background-color: lightblue; 
    width: 40vmax;
    margin: 5px;
    float: left;
}

.snippet {
    background-color: lightcyan; 
    height: 200px;
    width: 40vmax;
    padding: 5px;
    margin: 5px;
    float: right;
}

