* {
    box-sizing: border-box;
    padding: 0px;
}

#template1 {
    background-color: lightgoldenrodyellow;
}

.row {
    background-color: lightcoral;
    display: inline;
    height: 200px;
    overflow: hidden;
    margin:5px;
}

.pic  {
    background-color: lightblue;
    height: 200px;
    width: 400px;
    margin: 5px;
}

.snippet {
    background-color: lightcyan;
    padding: 5px;
    margin: 5px;
}

