.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2px;
    justify-items: stretch;
    align-items: center;
}

.photo {
    background-color: gray;
}