* {
    box-sizing: border-box;    
    padding: 0;
    margin: 0;
}

.note {
    background-color: lightcoral;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.updateDiv {
    background-color: greenyellow;
    border: 2px solid black;
    /* display: none; */
}

.noteTextContent {
    background-color: pink;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.editNoteTextArea {
    color: red;
    width: 100%;
    padding: 5px;
}


#newNote {
    width: 500px;
    margin: 10px;
}

#notesContainer {
    background-color: lightblue;
    border: 1px solid black;
    width: 500px;
    margin: 10px;
    padding: 5px;
}

#clearNotes {
    position: relative;
    bottom: -20px;
    left: 200px;
}

#inputArea {
    width: 500px;
    padding: 5px;
}


