* {
    box-sizing: border-box;    
    padding: 0;
    margin: 0;

}

#newNote {
    display: flex;    
    width: 500px;
}

#notesContainer {
    border: 1px solid black;
    width: 500px;
}

.note {

}