.wrapper {
    position: relative;
    left: 10vw; 
    /* font-size:  100px; */
}

.letter{    
    position: absolute;    
    font-size: 100px;
    top: 20vh;
}

.letter:hover {
    position: absolute;
    font-size: 300px;
    top: 5vh;
}

#l1, #l1:hover {
    left: 10vw;
}

#l2, #l2:hover {
    left: 20vw;
}

#l3, #l3:hover {
    left: 25vw;
}

#l4, #l4:hover {
    left: 35vw;
}

#l5, #l5:hover {
    left: 40vw;
}