.element {
    width: 100px;
    height: 100px;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    from {
      background-color: blue;
    }
    to {
      background-color: red;
    }
  }
  