.container {
    
    width: 500px;
    position: relative;
    box-sizing: border-box;
}

.container li{
    list-style: none;
    position: absolute;
    display: block;
}

.off {
    width: 100%;
    position: absolute;
}

.on {
    width: 100%;
    position:absolute;
}