#container {
    position: relative;
}

#container li{
    /*list-style: none;*/
    margin: 0;
    padding: 0;    
    position: absolute;
    display: block;
    top: 0;
}

.off {
    width: 100%;
    position: absolute;
}

.on {
    width: 100%;
    position:absolute;
}