#container {
    box-sizing: border-box;   
    height: 300px;
    width: 500px;;
    background: url("./five-star-off.png") 0 0;
    background-size: 500px auto;
    display: flex;
}

#container div{      
    height: 300px;
    width: 100px;
}

#one:hover{
    background: url("./five-star-on.png");
    background-size: 500px auto;
}

#two:hover{
    background: url("./five-star-on.png");
    background-size: 500px auto;
    background-position: -150px 0;
}



