* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    overflow: hidden;
}

.center {
    background-color: lightblue;
    padding: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.text {
    height: 10;
    width: auto;
    background-color: lightpink;
    text-align: center;
}